In [42]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, MinMaxScaler
from sklearn.model_selection import train_test_split, learning_curve
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.metrics import classification_report, accuracy_score, confusion_matrix, precision_recall_fscore_support, precision_score, recall_score
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [43]:
train_data= pd.read_csv('C:\\Users\\USER\\Downloads\\train (1).csv')
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [44]:
test_data = pd.read_csv('C:\\Users\\USER\\Downloads\\test.csv')

In [45]:
train_data.drop(['Cabin', 'Ticket'], axis=1, inplace=True)
test_data.drop(['Cabin', 'Ticket'], axis=1, inplace=True)

In [46]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,8.0500,S

In [48]:
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,7.8292,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,7.0000,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,9.6875,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,8.6625,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,12.2875,S

In [8]:
combine = [train_data, test_data]
combine
for ds in combine:
    ds['Title'] = ds.Name.str.extract(' ([A-Za-z]+)\.', expand=False)

pd.crosstab(train_data['Title'], train_data['Sex'])

Sex       female  male
Title
Capt           0     1
Col            0     2
Countess       1     0
Don            0     1
Dr             1     6
Jonkheer       0     1
Lady           1     0
Major          0     2
Master         0    40
Miss         182     0
Mlle           2     0
Mme            1     0
Mr             0   517
Mrs          125     0
Ms             1     0
Rev            0     6
Sir            0     1

In [49]:
train_data.drop(['PassengerId', 'Name'], axis=1, inplace=True)
test_data.drop('Name', axis=1, inplace=True)

In [50]:
train_data.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [51]:
test_data.head()

   PassengerId  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0          892       3    male  34.5      0      0   7.8292        Q
1          893       3  female  47.0      1      0   7.0000        S
2          894       2    male  62.0      0      0   9.6875        Q
3          895       3    male  27.0      0      0   8.6625        S
4          896       3  female  22.0      1      1  12.2875        S

In [12]:
for ds in combine:
    ds['Sex'] = ds['Sex'].map({'female':1, 'male':0})
train_data.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare Embarked Title
0         0       3    0  22.0      1      0   7.2500        S    Mr
1         1       1    1  38.0      1      0  71.2833        C   Mrs
2         1       3    1  26.0      0      0   7.9250        S  Miss
3         1       1    1  35.0      1      0  53.1000        S   Mrs
4         0       3    0  35.0      0      0   8.0500        S    Mr

In [52]:
le = LabelEncoder().fit_transform(train_data['Sex'])
train_data['Sex'] =le

In [53]:
la = LabelEncoder().fit_transform(train_data['Embarked'])
train_data['Embarked'] =la

In [54]:
train_data.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

In [55]:
X= train_data.drop('Survived', axis=1)

In [56]:
X

     Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         3    1  22.0      1      0   7.2500         2
1         1    0  38.0      1      0  71.2833         0
2         3    0  26.0      0      0   7.9250         2
3         1    0  35.0      1      0  53.1000         2
4         3    1  35.0      0      0   8.0500         2
..      ...  ...   ...    ...    ...      ...       ...
886       2    1  27.0      0      0  13.0000         2
887       1    0  19.0      0      0  30.0000         2
888       3    0   NaN      1      2  23.4500         2
889       1    1  26.0      0      0  30.0000         0
890       3    1  32.0      0      0   7.7500         1

[891 rows x 7 columns]

In [57]:
train_data

     Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0           0       3    1  22.0      1      0   7.2500         2
1           1       1    0  38.0      1      0  71.2833         0
2           1       3    0  26.0      0      0   7.9250         2
3           1       1    0  35.0      1      0  53.1000         2
4           0       3    1  35.0      0      0   8.0500         2
..        ...     ...  ...   ...    ...    ...      ...       ...
886         0       2    1  27.0      0      0  13.0000         2
887         1       1    0  19.0      0      0  30.0000         2
888         0       3    0   NaN      1      2  23.4500         2
889         1       1    1  26.0      0      0  30.0000         0
890         0       3    1  32.0      0      0   7.7500         1

[891 rows x 8 columns]

In [58]:
train_data=train_data.fillna(1)
train_data.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [59]:
X= train_data.drop('Survived', axis=1)
X.isnull().sum()

Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [60]:
y = train_data['Survived']

In [61]:
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [23]:
X.shape, y.shape

((891, 8), (891,))

# Train/Test Set

In [62]:
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.4, random_state=4)
print ('Train set:', X_train.shape,  y_train.shape)
print ('Test set:', X_test.shape,  y_test.shape)

Train set: (534, 7) (534,)
Test set: (357, 7) (357,)

## LOGISTIC REGRESSION

In [63]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
LR = LogisticRegression(C=0.01, solver='liblinear').fit(X_train,y_train)
LR

LogisticRegression(C=0.01, solver='liblinear')

In [64]:
yhat = LR.predict(X_test)
yhat

array([0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0,
       1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0], dtype=int64)

In [65]:
yhat_prob = LR.predict_proba(X_test)
yhat_prob

array([[0.72285497, 0.27714503],
       [0.71859235, 0.28140765],
       [0.60647924, 0.39352076],
       [0.4503851 , 0.5496149 ],
       [0.69856142, 0.30143858],
       [0.58877828, 0.41122172],
       [0.51204932, 0.48795068],
       [0.601316  , 0.398684  ],
       [0.46119366, 0.53880634],
       [0.67520605, 0.32479395],
       [0.72418793, 0.27581207],
       [0.69454136, 0.30545864],
       [0.55362512, 0.44637488],
       [0.7162247 , 0.2837753 ],
       [0.43429923, 0.56570077],
       [0.64801384, 0.35198616],
       [0.72200251, 0.27799749],
       [0.60254165, 0.39745835],
       [0.72280396, 0.27719604],
       [0.54582   , 0.45418   ],
       [0.67621668, 0.32378332],
       [0.68744558, 0.31255442],
       [0.69032171, 0.30967829],
       [0.68879616, 0.31120384],
       [0.53262667, 0.46737333],
       [0.58726451, 0.41273549],
       [0.4433701 , 0.5566299 ],
       [0.31603914, 0.68396086],
       [0.72451502, 0.27548498],
       [0.72224918, 0.27775082],
       [0.70501643, 0.29498357],
       [0.71029296, 0.28970704],
       [0.52582216, 0.47417784],
       [0.72451502, 0.27548498],
       [0.70925233, 0.29074767],
       [0.5955919 , 0.4044081 ],
       [0.72213499, 0.27786501],
       [0.51873579, 0.48126421],
       [0.70960343, 0.29039657],
       [0.69914381, 0.30085619],
       [0.6149346 , 0.3850654 ],
       [0.66243698, 0.33756302],
       [0.54005488, 0.45994512],
       [0.64400603, 0.35599397],
       [0.74437054, 0.25562946],
       [0.70960343, 0.29039657],
       [0.72399651, 0.27600349],
       [0.62437025, 0.37562975],
       [0.68419751, 0.31580249],
       [0.72451502, 0.27548498],
       [0.72229593, 0.27770407],
       [0.6468558 , 0.3531442 ],
       [0.57947568, 0.42052432],
       [0.71301176, 0.28698824],
       [0.72047776, 0.27952224],
       [0.60680678, 0.39319322],
       [0.67853488, 0.32146512],
       [0.69923748, 0.30076252],
       [0.67139802, 0.32860198],
       [0.44496054, 0.55503946],
       [0.67762879, 0.32237121],
       [0.7378282 , 0.2621718 ],
       [0.71933465, 0.28066535],
       [0.68300383, 0.31699617],
       [0.72575016, 0.27424984],
       [0.60647924, 0.39352076],
       [0.45898107, 0.54101893],
       [0.61121815, 0.38878185],
       [0.72208643, 0.27791357],
       [0.70350916, 0.29649084],
       [0.59767177, 0.40232823],
       [0.56233315, 0.43766685],
       [0.68340312, 0.31659688],
       [0.67742726, 0.32257274],
       [0.67520089, 0.32479911],
       [0.71992411, 0.28007589],
       [0.72260796, 0.27739204],
       [0.70486739, 0.29513261],
       [0.71964504, 0.28035496],
       [0.68978153, 0.31021847],
       [0.67540831, 0.32459169],
       [0.58316562, 0.41683438],
       [0.723112  , 0.276888  ],
       [0.58722184, 0.41277816],
       [0.36340081, 0.63659919],
       [0.55385656, 0.44614344],
       [0.67732647, 0.32267353],
       [0.67863547, 0.32136453],
       [0.65298104, 0.34701896],
       [0.52601153, 0.47398847],
       [0.56607318, 0.43392682],
       [0.72301712, 0.27698288],
       [0.67793097, 0.32206903],
       [0.72418793, 0.27581207],
       [0.61095327, 0.38904673],
       [0.68796408, 0.31203592],
       [0.67365833, 0.32634167],
       [0.68459936, 0.31540064],
       [0.67228508, 0.32771492],
       [0.56310959, 0.43689041],
       [0.45567392, 0.54432608],
       [0.60738948, 0.39261052],
       [0.72155956, 0.27844044],
       [0.7203137 , 0.2796863 ],
       [0.72140564, 0.27859436],
       [0.07037174, 0.92962826],
       [0.36319338, 0.63680662],
       [0.72289958, 0.27710042],
       [0.20720223, 0.79279777],
       [0.47047027, 0.52952973],
       [0.32876632, 0.67123368],
       [0.57355435, 0.42644565],
       [0.61321815, 0.38678185],
       [0.49483489, 0.50516511],
       [0.72280396, 0.27719604],
       [0.71020976, 0.28979024],
       [0.72395092, 0.27604908],
       [0.72224918, 0.27775082],
       [0.72113757, 0.27886243],
       [0.72418793, 0.27581207],
       [0.57310306, 0.42689694],
       [0.55529244, 0.44470756],
       [0.56571229, 0.43428771],
       [0.59531478, 0.40468522],
       [0.54051294, 0.45948706],
       [0.7025195 , 0.2974805 ],
       [0.64933961, 0.35066039],
       [0.53115264, 0.46884736],
       [0.71913911, 0.28086089],
       [0.3495169 , 0.6504831 ],
       [0.69031217, 0.30968783],
       [0.68745517, 0.31254483],
       [0.71970695, 0.28029305],
       [0.4617108 , 0.5382892 ],
       [0.71840256, 0.28159744],
       [0.72150841, 0.27849159],
       [0.69032171, 0.30967829],
       [0.72467657, 0.27532343],
       [0.72279061, 0.27720939],
       [0.72257769, 0.27742231],
       [0.25677665, 0.74322335],
       [0.47210929, 0.52789071],
       [0.33596173, 0.66403827],
       [0.26063742, 0.73936258],
       [0.54308555, 0.45691445],
       [0.72451502, 0.27548498],
       [0.65853748, 0.34146252],
       [0.71798701, 0.28201299],
       [0.63193225, 0.36806775],
       [0.69481801, 0.30518199],
       [0.72211519, 0.27788481],
       [0.55607976, 0.44392024],
       [0.72285497, 0.27714503],
       [0.66796813, 0.33203187],
       [0.62285596, 0.37714404],
       [0.72152423, 0.27847577],
       [0.60747066, 0.39252934],
       [0.43476037, 0.56523963],
       [0.7258823 , 0.2741177 ],
       [0.34565556, 0.65434444],
       [0.72110042, 0.27889958],
       [0.59025509, 0.40974491],
       [0.68034301, 0.31965699],
       [0.70516771, 0.29483229],
       [0.65287652, 0.34712348],
       [0.67959902, 0.32040098],
       [0.54696126, 0.45303874],
       [0.72232832, 0.27767168],
       [0.32965022, 0.67034978],
       [0.62029799, 0.37970201],
       [0.7220641 , 0.2779359 ],
       [0.56948265, 0.43051735],
       [0.72104481, 0.27895519],
       [0.08940798, 0.91059202],
       [0.69031217, 0.30968783],
       [0.56987125, 0.43012875],
       [0.72020082, 0.27979918],
       [0.39620223, 0.60379777],
       [0.67803166, 0.32196834],
       [0.68879616, 0.31120384],
       [0.61474648, 0.38525352],
       [0.71684944, 0.28315056],
       [0.61445348, 0.38554652],
       [0.60284857, 0.39715143],
       [0.26271422, 0.73728578],
       [0.62522969, 0.37477031],
       [0.4913354 , 0.5086646 ],
       [0.56350638, 0.43649362],
       [0.5553065 , 0.4446935 ],
       [0.68542491, 0.31457509],
       [0.62527135, 0.37472865],
       [0.63383741, 0.36616259],
       [0.67772954, 0.32227046],
       [0.47806112, 0.52193888],
       [0.57197431, 0.42802569],
       [0.72252666, 0.27747334],
       [0.67651955, 0.32348045],
       [0.71943473, 0.28056527],
       [0.67880646, 0.32119354],
       [0.49234316, 0.50765684],
       [0.70960343, 0.29039657],
       [0.68386545, 0.31613455],
       [0.62615856, 0.37384144],
       [0.72325749, 0.27674251],
       [0.56686952, 0.43313048],
       [0.69571809, 0.30428191],
       [0.72160107, 0.27839893],
       [0.67034178, 0.32965822],
       [0.68880523, 0.31119477],
       [0.60675865, 0.39324135],
       [0.62012595, 0.37987405],
       [0.53715905, 0.46284095],
       [0.72230025, 0.27769975],
       [0.64485148, 0.35514852],
       [0.31456755, 0.68543245],
       [0.68498163, 0.31501837],
       [0.68430053, 0.31569947],
       [0.70729494, 0.29270506],
       [0.60841323, 0.39158677],
       [0.60030222, 0.39969778],
       [0.55362512, 0.44637488],
       [0.11836844, 0.88163156],
       [0.59689521, 0.40310479],
       [0.67404005, 0.32595995],
       [0.68843569, 0.31156431],
       [0.60449355, 0.39550645],
       [0.72128149, 0.27871851],
       [0.71965118, 0.28034882],
       [0.69423091, 0.30576909],
       [0.72367432, 0.27632568],
       [0.66796813, 0.33203187],
       [0.58161687, 0.41838313],
       [0.54673178, 0.45326822],
       [0.55557633, 0.44442367],
       [0.56233315, 0.43766685],
       [0.57711371, 0.42288629],
       [0.7225036 , 0.2774964 ],
       [0.55578947, 0.44421053],
       [0.60862785, 0.39137215],
       [0.70729494, 0.29270506],
       [0.72146368, 0.27853632],
       [0.13545048, 0.86454952],
       [0.72168798, 0.27831202],
       [0.71947013, 0.28052987],
       [0.62029799, 0.37970201],
       [0.55704165, 0.44295835],
       [0.54220335, 0.45779665],
       [0.52670477, 0.47329523],
       [0.42838933, 0.57161067],
       [0.60680678, 0.39319322],
       [0.27096702, 0.72903298],
       [0.56933411, 0.43066589],
       [0.6947202 , 0.3052798 ],
       [0.71800446, 0.28199554],
       [0.54796722, 0.45203278],
       [0.59579962, 0.40420038],
       [0.59549792, 0.40450208],
       [0.20880578, 0.79119422],
       [0.72451502, 0.27548498],
       [0.37655173, 0.62344827],
       [0.72451502, 0.27548498],
       [0.72320433, 0.27679567],
       [0.72248523, 0.27751477],
       [0.68602128, 0.31397872],
       [0.55214296, 0.44785704],
       [0.52895405, 0.47104595],
       [0.67813234, 0.32186766],
       [0.68210096, 0.31789904],
       [0.26331669, 0.73668331],
       [0.72187894, 0.27812106],
       [0.62485204, 0.37514796],
       [0.67742726, 0.32257274],
       [0.54462302, 0.45537698],
       [0.44833566, 0.55166434],
       [0.20068465, 0.79931535],
       [0.69971748, 0.30028252],
       [0.66050523, 0.33949477],
       [0.35811943, 0.64188057],
       [0.72451502, 0.27548498],
       [0.70960343, 0.29039657],
       [0.68591713, 0.31408287],
       [0.72252666, 0.27747334],
       [0.00742828, 0.99257172],
       [0.58605283, 0.41394717],
       [0.71054683, 0.28945317],
       [0.63436653, 0.36563347],
       [0.47011412, 0.52988588],
       [0.72168254, 0.27831746],
       [0.72025655, 0.27974345],
       [0.68399821, 0.31600179],
       [0.72292727, 0.27707273],
       [0.57401253, 0.42598747],
       [0.51613575, 0.48386425],
       [0.72451502, 0.27548498],
       [0.72113757, 0.27886243],
       [0.30204146, 0.69795854],
       [0.36249266, 0.63750734],
       [0.34201867, 0.65798133],
       [0.56435207, 0.43564793],
       [0.72395092, 0.27604908],
       [0.59489509, 0.40510491],
       [0.72405528, 0.27594472],
       [0.72109601, 0.27890399],
       [0.53566113, 0.46433887],
       [0.61159002, 0.38840998],
       [0.71390876, 0.28609124],
       [0.68646336, 0.31353664],
       [0.68360266, 0.31639734],
       [0.54401668, 0.45598332],
       [0.72418793, 0.27581207],
       [0.66796813, 0.33203187],
       [0.69334908, 0.30665092],
       [0.43448882, 0.56551118],
       [0.72022   , 0.27978   ],
       [0.72418793, 0.27581207],
       [0.68037874, 0.31962126],
       [0.19576951, 0.80423049],
       [0.57451452, 0.42548548],
       [0.69031217, 0.30968783],
       [0.55405334, 0.44594666],
       [0.73430216, 0.26569784],
       [0.45917856, 0.54082144],
       [0.68270418, 0.31729582],
       [0.63373036, 0.36626964],
       [0.65749962, 0.34250038],
       [0.61225279, 0.38774721],
       [0.11702741, 0.88297259],
       [0.37917616, 0.62082384],
       [0.41566207, 0.58433793],
       [0.52283614, 0.47716386],
       [0.32760991, 0.67239009],
       [0.68296427, 0.31703573],
       [0.57596172, 0.42403828],
       [0.37525334, 0.62474666],
       [0.70905139, 0.29094861],
       [0.68859012, 0.31140988],
       [0.31993161, 0.68006839],
       [0.60782932, 0.39217068],
       [0.72282373, 0.27717627],
       [0.67613463, 0.32386537],
       [0.72285111, 0.27714889],
       [0.28852892, 0.71147108],
       [0.60680678, 0.39319322],
       [0.48540601, 0.51459399],
       [0.57586707, 0.42413293],
       [0.61799978, 0.38200022],
       [0.66997034, 0.33002966],
       [0.65936016, 0.34063984],
       [0.68693326, 0.31306674],
       [0.62242459, 0.37757541],
       [0.37045283, 0.62954717],
       [0.72610749, 0.27389251],
       [0.62393748, 0.37606252],
       [0.55284439, 0.44715561],
       [0.61926579, 0.38073421],
       [0.70729494, 0.29270506],
       [0.58611563, 0.41388437]])

In [66]:
lr_model =  LogisticRegression(solver='liblinear')

In [67]:
LR.score(X_test, y_test)

0.7394957983193278

In [68]:
accuracy_score( y_test, yhat)

0.7394957983193278

In [69]:
def evaluate_metrics(yt, yp):
    results_pos = {}
    results_pos['accuracy'] = accuracy_score(yt, yp)
    precision, recall, f_beta, _ = precision_recall_fscore_support(yt, yp)
    results_pos['recall'] = recall
    results_pos['precision'] = precision
    results_pos['f1score'] = f_beta
    return results_pos

In [70]:
evaluate_metrics(y_test, yhat)

{'accuracy': 0.7394957983193278,
 'recall': array([0.94017094, 0.35772358]),
 'precision': array([0.73578595, 0.75862069]),
 'f1score': array([0.82551595, 0.48618785])}

In [71]:
lr=lr_model.fit(X,y)

In [72]:
lr_pre= lr.predict(X)
lr_model.score(X,y)

0.8002244668911336

## Support Vector Machine

In [86]:
from sklearn.svm import SVC

In [93]:
sv = SVC(kernel='linear')
sv

SVC(kernel='linear')

In [94]:
sv.fit(X_train, y_train)

SVC(kernel='linear')

In [98]:
sv_pred = sv.predict(X_test)
sv_pred[0:5]

array([0, 0, 1, 1, 0], dtype=int64)

In [96]:
accuracy = sv.score(X_test, y_test)
accuracy

0.8067226890756303

In [99]:
evaluate_metrics(y_test, sv_pred)

{'accuracy': 0.8067226890756303,
 'recall': array([0.87179487, 0.68292683]),
 'precision': array([0.83950617, 0.73684211]),
 'f1score': array([0.85534591, 0.70886076])}

In [103]:
from sklearn.metrics import jaccard_score
jaccard_score(y_test, sv_pred,pos_label=0)

0.7472527472527473

## Decision Tree Classifier

In [104]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_text

In [122]:
rs=123

In [127]:
dt = DecisionTreeClassifier()

In [128]:
dt.fit(X_train,y_train)

DecisionTreeClassifier()

In [129]:
dt_pred= dt.predict(X_test)

In [130]:
accuracy = dt.score(X_test, y_test)
accuracy

0.7787114845938375

In [131]:
evaluate_metrics(y_test, dt_pred)

{'accuracy': 0.7787114845938375,
 'recall': array([0.82905983, 0.68292683]),
 'precision': array([0.83261803, 0.67741935]),
 'f1score': array([0.83083512, 0.68016194])}

In [132]:
def evaluate_metrics(yt, yp):
    results_pos = {}
    results_pos['accuracy'] = accuracy_score(yt, yp)
    precision, recall, f_beta, _ = precision_recall_fscore_support(yt, yp, average='binary')
    results_pos['recall'] = recall
    results_pos['precision'] = precision
    results_pos['f1score'] = f_beta
    return results_pos

In [133]:
evaluate_metrics(y_test, dt_pred)

{'accuracy': 0.7787114845938375,
 'recall': 0.6829268292682927,
 'precision': 0.6774193548387096,
 'f1score': 0.680161943319838}

## Random forest Classifier

In [157]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification

In [158]:
Rf = RandomForestClassifier(n_estimators = 20)
Rf.fit(X_train, y_train)

RandomForestClassifier(n_estimators=20)

In [159]:
rf= Rf.predict(X_test)
evaluate_metrics(y_test, rf)

{'accuracy': 0.8207282913165266,
 'recall': 0.6747967479674797,
 'precision': 0.7757009345794392,
 'f1score': 0.7217391304347825}

In [161]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, rf)
cm

array([[210,  24],
       [ 40,  83]], dtype=int64)

In [171]:

from sklearn.ensemble import GradientBoostingClassifier

In [172]:
xgb = GradientBoostingClassifier()

In [173]:
 xgb.fit(X_train,y_train)

GradientBoostingClassifier()

In [174]:
xg = xgb.predict(X_test)

In [175]:
accuracy= xgb.score(X_test, y_test)
accuracy

0.8291316526610645

In [176]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.datasets import make_classification
ada = AdaBoostClassifier()

In [177]:
ada.fit(X_train, y_train)

AdaBoostClassifier()

In [178]:
y_ada_pred = ada.predict(X_test)

In [179]:
accuracy = ada.score(X_test, y_test)
print(accuracy)

0.7899159663865546

In [181]:
from sklearn.naive_bayes import GaussianNB

In [182]:
NB = GaussianNB()
NB.fit(X_train, y_train)
y_nb_pred = NB.predict(X_test)

In [183]:
accuracy = NB.score(X_test, y_test)
print(accuracy)

0.8095238095238095